.contact{
    padding-left: 5vw;
    font-size: 1.5vw;
    font-weight: 800;
}
.contact2{
    font-weight: 550;
    padding-left: 5vw;
    font-size: 1.3vw;
}
.contact3{
    font-weight: 600;
    padding-left: 5vw;
    font-size: 1.3vw;
    padding-top: 1vw;
}
.mail{
    font-weight: 600;
    padding-left: 5vw;
    font-size: 1.3vw;
    padding-top: 1vw;
}
.facebook{
    font-weight: 600;
    padding-left: 5vw;
    font-size: 1.3vw;
    padding-top: 1vw;
}

.tel{
    font-weight: 600;
    padding-left: 5vw;
    font-size: 1.3vw;
    padding-top: 1vw;
}
.about1{
    font-size: 3vw;
    font-weight: 700;
}
.about2{
    font-size: 1.7vw;
    padding-top: 2vw;

}