.about-container{
    padding-bottom: 5%;
}
.about-head{
    padding-top: 10%;
    font-weight: 600;
}
.about-head-box{
    padding-top: 10%;
    font-weight: 600;
}
.about-box{
    width: 100%;
}
.size-img-about{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.about-box-text{
    color: #0175A4;
    font-size: 1.5rem;
    padding-bottom: 5%;
}
.about-box-text2{
    color: #458020;
    font-size: 1.5rem;
}
.img-slide-about{
    position: relative;
    height: 30vw;
}
.overlay-slide-about{
    background: linear-gradient(blue, rgb(0, 255, 13));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    opacity: .2;
    z-index: 996;
}
@media (max-width: 991px) {
    .about-head{
        padding-top: 40%;
        font-weight: 600;
    }
}

@media (max-width: 767.5px) {
    .about-head{
        font-weight: 600;
        padding-top: 100%;
    }
}
@media (max-width: 576px) {
    .about-head{
        padding-top:80%;
        font-weight: 600;
    }
}
@media (max-width: 501px) {
    .about-head{
        padding-top:130%;
        font-weight: 600;
    }
}
@media (max-width: 441px) {
    .about-head{
        padding-top:140%;
        font-weight: 600;
    }
}
@media (max-width: 362px) {
    .about-head{
        padding-top:160%;
        font-weight: 600;
    }
}
@media (max-width: 321px) {
    .about-head{
        padding-top:180%;
        font-weight: 600;
    }
}