.img-phone{
        width: 53%;
        height: 30vw;
}
.margin-product-home{
    padding-top: 7vw;
}
.margin-all-slide{
    margin-top: 4vw;
}
.size-img-product-home{
    width: 100%;
    height: 20vw;
}
.footer-button{
    background-color: #fff;
    border: #fff;
}
.cut-text-multi {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cut-text-multi-about-footer2 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cut-text-multi-about-footer1 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cut-text-multi-cut-text-multi-product-home {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cut-text-multi-product-home {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.slide-cut-text-h1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.slide-cut-text-p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-slide-home{
    margin-top: 4vw;
}
.img-slide-home{
    position: relative;
    margin-top: 2vw;
}
.box-search-home{
    width: 100%;
    bottom: -8%;
    position: absolute;
    z-index: 9998;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.box-search-home-index{
    width: 100%;
    bottom: -8%;
    position: absolute;
    z-index: 9998;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.img-poppular-home-padding{
    padding-right: 5px;
    padding-left: 5px;
}
.border-poplar-home{
    border: 8px solid #ececec;
}
.topic-popular-home{
    width: 30% !important ;
    text-align: center;
    color: #70b247;
    font-weight: 800;
}
.btn-search{
    color: #fff;
    background-color: #70b247;
    font-size: 1.25em;
}
.text-product-home-topic{
    color: #70b247;
    font-size: 4vw;
}
.img-poppular-home2{
    width: 100%;
    height: 18vw;
}
.img-poppular-home1{
    width: 100%;
    height: 20vw;
}
.img-poppular-home3{
    width: 100%;
    height: 18vw;
}
.text-product-home{
    font-weight: 600;
    color: #959595;
    margin-bottom: 2vw;
}
.main-div {
    position: relative;
    width: 200px;
    height: 150px;
    border: 2px solid black;
}

.main-div-overlay-text {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: -20px;
}
#info-block section {
    border: 10px solid #ececec;
    font-size: 1.5vw;
    color: #70b247;
    font-weight: 800;
    text-align: center;
}

.file-marker > div {
    height: 20vw;
    margin-top: -0.8em;
    text-align: center;
}
.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
}
.product-product-detail {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'K2D', sans-serif;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #959595;
}
.product-product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.7vw;
    color: #959595;
}
.text-header-medium{
    color: #0175A4;
    padding-top: 3%;
}
.price-slide1{
    margin-top: 4vw;
    color: #fff;
}
.price-slide2{
    margin-top: 1vw;
    color: #458020
}
.rounded-circle1{
    width: 22vw;
    height: 22vw;
    border: 5px solid #fef7f7;
}
.on-img{
    width: 10vw;
    height: 10vw;
    border: 5px solid #fef7f7;
    background-color: #70b247;
    position: absolute;
    margin-top: 10vw;
    margin-left: 5vw;
    text-align: center;
}
.slide-home{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 998;
}
.slide-header-home{
    color: #fff;
    position: relative;
    font-size: 2.6vw;
    margin-left: 4vw;
    font-weight: 999;
}
.slide-text-detail{
    padding-top: 1px;
    color : #fff;
    padding-left: 4vw;
    font-size: 1.6vw;
}
.btn-slide{
    color: #fff;
    background-color: #70b247;
    font-size: 1.25em;
    margin-left: 4vw;
    margin-top: 1vw;
}
.btn-slide2{
    color: #fff;
    font-size: 1.25em;
    margin-left: 2vw;
    margin-top: 1vw;
}
.nav-color{

    color: white;
}
.logo{
    margin-left: 15.5vw;
}
.color-bg-slide{
    position: absolute;
    top: 30%;
    background-color: #ffffffa6;
    width: 100%;
    height: 100%;
}
.size-img-slide{
    width: 100%;
    max-height: 30vw;
    z-index: 1;
    object-fit: cover;
}
.size-img-slide-home{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.overlay-slide{
    background: linear-gradient(blue, rgb(0, 255, 13));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: .2;
    z-index: 996;
}
.overlay-slide-2{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 995;
}
.overlay{
    background: linear-gradient(blue, rgb(0, 255, 13));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 996;
}
.overlay2{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 995;
}
.menu{
    margin-left: 15vw;
}
.no-margin{
    margin: unset;
}
@media only screen and (max-width: 1200px) {
    .on-img {
        width: 13vw;
        height: 12vw;
    }
    .rounded-circle1 {
        width: 25vw;
        height: 25vw;
        margin-right: -8vw;
    }
    .img-slide-home {
        margin-top: 2vw;
    }
}
@media only screen and (max-width: 1100px) {
    .logo{
        margin-left: 0vw;
    }
    .menu{
        margin-left: 0vw;
    }
    .slide-header-home{
        color: #fff;
        position: relative;
        font-size: 1.9vw;
        margin-left: 8vw;
        

    }
    .slide-text-detail{
        padding-top: 1px;
        color : #fff;
        margin-left: 8vw;
        font-size: 1.4vw;
    }
    .overlay-slide-service {
        background: linear-gradient(blue, rgb(0, 255, 13));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        opacity: .2;
        z-index: 996;
    }
    .rounded-circle1 {
        width: 23vw;
        height: 23vw;
        margin-right: -4vw;
    }
    .on-img {
        margin-left: 6vw;
    }
    .text-product-home-topic{
        font-size: 4vw;
    }
    .img-poppular-home1{
        height: 30vw;
    }
    .img-poppular-home2 {
        height: 21vw;
    }
    .img-poppular-home3 {
        height: 21vw;
    }
}
@media only screen and (max-width: 1176px) {
    .box-search-home {
        bottom: -18%;
    }
}
@media only screen and (max-width: 1100px) {
    .btn-slide {
        margin-left: 8vw;
    }
}
@media only screen and (max-width: 1024px) {
    .slide-header-home {
        font-size: 40px;
    }
    .slide-text-detail {
        font-size: 24px;
    }
    .img-phone {
        width: 53%;
        height: 36vw;
    }
}


@media only screen and (max-width: 991px) {
    .slide-header-home {
        margin-left: 0vw;
        font-size: 4.5vw;
    }
    .slide-text-detail {
        margin-left: 0vw;
        font-size: 2vw;
    }
    .img-phone {
        width: 60%;
        height: 35vw;
    }
}
@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 767.5px) {
    .slide-header-home {
        font-size: 7vw;
    }
    .slide-text-detail {
        font-size: 2.6vw;
    }
    .img-phone {
        width: 60%;
        height: 32vw;
    }
    .slide-header-home {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .slide-text-detail {
        font-size: 2.6vw;
    }
    .img-phone {
        width: 85%;
        height: 55vw;
    }
    .slide-header-home {
        font-size: 5vw;
    }
}
@media only screen and (max-width: 575.5px) {
    .img-phone {
        width: 50%;
        height: 70vw;
        padding-top: 5vw;
    }
    .text-slide-home {
        margin-top: 0vw;
    }
}
@media only screen and (max-width: 416px) {
    .slide-header-home {
        font-size: 10vw;
    }
    .slide-text-detail {
        font-size: 4vw;
    }
    .text-slide-home {
        margin-top: 0vw;
    }
    .img-phone {
        height: 80vw;
    }
}

@media only screen and (max-width: 375.5px) {
    .img-phone {
        height: 90vw;
    }
    .slide-header-home {
        font-size: 8vw;
    }
    .slide-text-detail {
        font-size: 5vw;
    }
    .img-phone {
        width: 55%;
    }
}


@media only screen and (max-width: 320px) {
    .img-phone {
        width: 62%;
        height: 90vw;
    }
    .size-img-slide-home {
        min-height: 160vw;
    }
    .text-slide-home {
        margin-top: -42vw;
    }
    .slide-text-detail {
        font-size: 4.5vw;
    }
    .text-slide-home {
        margin-top: 2vw;
    }
    .size-img-slide-home {
        min-height: 210vw;
    }
    .slide-header-home {
        font-size: 9vw;
    }
}

