.property-pro-btn{
    color: #636363;
    border-color: #313131;
}
.cut-text-multi {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.property-pro-h1{
    color: #5a5a5a; 
    font-weight: 600;
    font-size: 3vw;
}
.property-pro-cut-h4{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.property-pro-cut-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media only screen and (max-width: 1024px) {
    .property-pro-cut-text {
        -webkit-line-clamp: 3;
    }    
}
@media only screen and (max-width: 767.5px) {
    .property-pro-h1{
        font-size: 6vw;
    }
}
@media only screen and (max-width: 426px) {
    .property-pro-h1{
        font-size: 9vw;
    }
}
