.top{
    padding: 6% 20% 3% 20%;
}
.content {
    position: absolute;
    width: 98%;
    height: 100%;
    padding: 38% 4% 0vw 4%;
}

.property-bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    color: #ffffff;
}
.property-bg:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.property-content{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    padding: 4% 0% 4% 0%;
}
.property-h3{
    color: #ffffff;
    text-align: center;
    font-size: 2vw;
}
@media only screen and (max-width: 1024px) {
    .content {
        width: 96%;
    }
}
@media only screen and (max-width: 991px) {
    .top{
        padding: 30% 20% 3% 20%;
    }
}
@media only screen and (max-width: 781px) {
    .top{
        padding: 35% 20% 3% 20%;
    }
    .content {
        width: 95%;
    }
}
@media only screen and (max-width: 767.5px) {
    .top{
        padding: 65%  20% 3% 20%;
    }    
}
@media only screen and (max-width: 426px) {
    .top{
        padding: 125%  10% 3% 10%;
    }    
    .property-h3{
        font-size: 6vw;
    }
    .content {
        width: 97%;
    }
}
@media only screen and (max-width: 320px) {
    .top{
        padding: 160%  10% 3% 10%;
    }  
    .content {
        width: 96%;
    }
}
@media only screen and (max-width: 320px) {
}
